#DistributionDiv{
	width: 100%;
	height: 100%;
	display: flex;

	padding-left: 30px;
}

.outerBubbleContainer{
	width: 25%;
	display: flex;
	margin: 0;
}

.bubbleContainer {
	height: 200px;
	width: 100px;
	display: flex;
	flex-wrap: wrap-reverse;
	align-content: end;
	box-sizing: content-box;
	margin: 20px;
}

.bubbleLabeling{
	padding-top: 10px;
	width: 100%;
	height: 100px;
	order: -1;
}

.bubbleP{
	margin: 0;
	text-align: left;
	font-size: 19px;
	line-height: 20px;
	font-family: Helvetica;
}

.bubblePGood{
	color: #0083ca;
}

.bubblePDamaging{
	color: #d82d48;
}

.bubbleValueP{
	padding-top: 5px;
	font-size: 25px !important;
	line-height: 25px;
	font-weight: 100;
}

.bubble{
	background-color: #d8d9d8;
	width: 10px;
	height: 10px;
	margin: 0;
	border-radius: 50%;
	/*flex-basis: 20%;*/
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #d8d9d8;
}

.innerTriangle {
    position: relative;
    left: -4px;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tp{
	border-bottom: 8px solid #d82d48;
}

.fn{
	border-bottom: 8px solid #0083ca;
}

.tn{
	background-color: #0083ca;
}

.fp{
	background-color: #d82d48;
}

