.SmallLabels{
	max-width: 200px;
	max-height: 35px;
	margin: auto 10px;
}

.SmallLabels > input{
	max-width: 75px !important;
}

.SmallLabels > div.ui.label{
	min-width: 100px;
}

.MediumLabels{
	max-width: 300px;
}

.MediumLabels.div.field{
	width: 300px;
}

.MediumLabels > div.ui.label{
	min-width: 100px;
}

/*.MetricLabel{
	width: 75px;
}*/

#MetricsShowDiv{
	margin: auto;
}
	
#multipleColumns{
	width: 100%;
	height: 100%;
	display: flex;
}

#metricLabelsLeft{
	width: 45%;
	height: 100%;
}

#metricLabelsRight{
	width: 45%;
	height: 100%;
}

