#customRadar{
	margin-left: 30px;
	height: 500px;
	width: 500px;
}

.customRadarSvg{
	margin-top: -241px;
	width: 500px;
	height: 500px;
}

.axisSliderContainer{
}

.slider{
	position: relative;
	height: 80px;
}

.sliderRail{
	position: absolute;
	height: 3px;
	margin-top: 35px;
	border-radius: 5px;
	background-color: #989898;
}

/*precision*/
.axis1Slider{
	width: 200px;
	left: 236px;
	top: 262px;
	-webkit-transform: rotate(30deg); /* Chrome & Safari */
    -moz-transform: rotate(30deg); /* Firefox */
    -ms-transform: rotate(30deg); /* IE 9+ */
    -o-transform: rotate(30deg); /* Opera */
    transform: rotate(30deg); /* CSS3 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678, sizingMethod='auto expand'); /* IE 7-8 */
}

/*recall*/
.axis2Slider{
	width: 200px;
	left: 61px;
	top: 176px;
	-webkit-transform: rotate(150deg) scaleX(-1); /* Chrome & Safari */
    -moz-transform: rotate(150deg) scaleX(-1); /* Firefox */
    -ms-transform: rotate(150deg) scaleX(-1); /* IE 9+ */
    -o-transform: rotate(150deg) scaleX(-1); /* Opera */
    transform: rotate(150deg) scaleX(-1); /* CSS3 */
}

/*fpr*/
.axis3Slider{
	width: 200px;
	bottom: 52px;
	left: 147px;
	-webkit-transform: rotate(90deg); /* Chrome & Safari */
    -moz-transform: rotate(90deg); /* Firefox */
    -ms-transform: rotate(90deg); /* IE 9+ */
    -o-transform: rotate(90deg); /* Opera */
    transform: rotate(90deg); /* CSS3 */
}

.slider1Rail{
	width: 200px;
}

.slider2Rail{
	width: 200px;
}

.slider3Rail{
	width: 200px;
}

.radarCircle{
	fill: transparent;
	stroke: #989898;
	stroke-width: 2px;
}

#radarPath{
	stroke: #5e5e5e;
	stroke-width: 5px;
	z-index: 3;
	fill: none;
}

.svgText{
	font-family: Arial;
	font-size: 19px;
}

.svgTextSmaller{
	font-family: Arial;
	font-size: 14px;
}