#visualisationRadar{
	margin: auto;
	width: 500px;
	height: 500px;
}

/*#visualisationRadar > svg > g > g > g > text{
	font-family: Helvetica, Arial;
	font-size: 15px;
}

#visualisationRadar > svg > g > g > g > path{
	fill-opacity: 0;
	stroke: grey;
	stroke-opacity: 0.5;
	stroke-width: 5px;
}

#visualisationRadar > svg > g > g > g > circle{
}

.connectTheseCircles{
	r: 9;
	stroke-width: 3px;
	stroke-opacity: 1;
	opacity: 1;
	stroke: black;
	fill: white;
}

.radarLines{
	stroke-width: 5px;
	stroke: black;
}


#chart{
	width: 400px;
	height: 400px;
}*/


#chart{
	display: flex;
	justify-content: center;	
}

#chart > svg{
	width: 450px;
	height: 450px;
	margin-left: 25px;
}

circle.radar-chart-serie0{
	r: 9;
	stroke-width: 3px;
	stroke-opacity: 1;
	opacity: 1;
	stroke: black;
	fill: white !important;
}

polygon.radar-chart-serie0{
	stroke-width: 4px !important;
	stroke-color: linear-gradient(red, blue) !important;
}

#chart > svg > g > g > text{
	font-size: 12px !important;
}

.radarBackgroundCircle{
	stroke: grey;
	
}
