.grid_display {
    display: grid;
}

.grid_container {
    display: grid;
    grid-template-columns: auto 50px 350px 50px auto;
    grid-template-rows: 25% 100px auto;
}

.slider_layout_a {
    grid-column: 2;
    grid-row: 2;
}

.slider_layout_b {
    grid-column: 4;
    grid-row: 2;
}
