.confusionMatrixGrid{
    display: grid;
    grid-template-columns: 20% auto 2px auto;
    grid-template-rows: 20% 20% 30% 30%;
    margin-left: 25px;
}

.frame{
    display: flex;
    justify-content: space-around;
    padding: 25px 5px 17px;
}

.confusionHeading{
    grid-row: 1;
    grid-column: 1;
    width: 300px;
    alignment: center;
    padding-bottom: 70px;
    margin-left: 40px;
}

.confusionLabel{
    width: auto;
    font-size: 30px;
    align-content: center;
}

.topRight{
    grid-row: 3;
    grid-column: 4;
    color: #444444;
}

.topLeft{
    grid-row: 3;
    grid-column: 2;
    color: #1db1f5;
}

.bottomLeft{
    grid-row: 4;
    grid-column: 2;
    color: #f5564a;
}

.bottomRight{
    grid-row: 4;
    grid-column: 4;
    color: #aaaaaa;
}

#predictedPositive{
    grid-row: 3;
    grid-column: 1;
}
#predictedNegative{
    grid-row: 4;
    grid-column: 1;
}
#actualPositive{
    grid-row: 2;
    grid-column: 2;
}
#actualNegative{
    grid-row: 2;
    grid-column: 4;
}
