.confusionMatrixGrid{
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    grid-template-rows: 20% 20% 30% 30%;
    margin-right: 10%;
    margin-top: -20%;
}

.frame{
    background: #5e5e5e;
    border: thin solid black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
}

.confusionHeading{
    grid-row: 1;
    grid-column: 2;
    width: 300px;
    alignment: center;
    padding-bottom: 70px;
    margin-left: 40px;
}

.confusionLabel{
    grid-row: 2;
    grid-column: 2;
    font-size: 20px;
}

.topRight{
    grid-row: 3;
    grid-column: 4;
    background-color: #444444;
}

.topLeft{
    grid-row: 3;
    grid-column: 3;
    background-color: #1db1f5;
}

.bottomLeft{
    grid-row: 4;
    grid-column: 3;
    background-color: #f5564a;
}

.bottomRight{
    grid-row: 4;
    grid-column: 4;
    background-color: #aaaaaa;
}
