.editViewer{
    border: 3px solid #444444;
    margin-top: 20px;
}

.evInfo{
    display: inline-block;
}

.info{
    text-align: left;
}

#btnGoodOrBad{
    float: right;
    transform: translate(-75%, -125%);
}

.diff-addedline{
    background-color: #b7e1f7;
}

.diff-deletedline{
    background-color: #f7b7b9;
}
