.selector_grid_container {
    display: grid;
    grid-template-columns: 50px 350px 50px;
    grid-template-rows: 80px 500px auto;
}

.selectorHeading{
    grid-column: 2;
    grid-row: 1;
}

.slider_layout_a {
    grid-column: 1;
    grid-row: 2;
}

.slider_layout_b {
    grid-column: 3;
    grid-row: 2;
}

#line1{
    stroke-width: 4px;
    stroke: #444444;
}
