div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}

.grid_container{
	display: grid;
	grid-template-columns: 30% 25% 15% 30%;
	grid-template-rows: 500px 0 300px auto;
	padding-top: 60px;
}

#selectorBars{
	grid-row: span 2;
	grid-column: 1;
	margin-left: 50px;
}

#confusionMatrix{
	grid-row: 1;
	grid-column: 4;
}

#histogram{
	grid-row: 1;
	grid-column: 1 / 4;
}

.editViewerContainer{
	grid-row: 3;
	grid-column: 3/5;
}

#Visualisations{
	height: 100%;
	width: 100%;
}

#BottomFlexContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.title{
	width: 100%;
	text-align: left;
	font-family: Helvetica;
	font-weight: 400;
	font-size: 28px;
	padding-top: 30px;
	padding-left: 15px;
}

#mainTitleAndButton{
	display: flex;
	
}

#mainTitle{
	padding-left: 15px !important;
	padding-top: 0 !important;
	margin-bottom: 30px;
}

#tutorialButton{
	font-size: 25px !important;
	font-weight: 100 !important;
	height: 35px !important;
	width: 35px !important;
	padding: 0 !important;
	background-color: white !important;
	border: 3px solid #a3a3a3 !important;
	border-radius: 50% !important;
	color: #a3a3a3 !important;
}

#tutorialButton:hover{
	color: #0083ca !important;
	border-color: #0083ca !important;
}

#metricsAndThreshold{
	display: flex;
	width: 100%;
	height: 60%;
	background-color: #fcfcfc;
	border-radius: 5px;
}

#qualityMetrics{
	height: 100%;
	width: 60%;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
}

#threshold{
	width: 40%;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
}

#preview{
	width: 100%;
	height: 35%;
	background-color: #fcfcfc;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

#RadarInformation{
	display: flex;
	margin: auto;
	margin-top: 50px;
}

#PleaseInsert{
	margin: auto;
	padding: 10px;
	font-size: 17px;
}