body{
	display: flex;
	flex-direction: column;
	height: 100%;
}

#root{
	width: 100%;
	height: 100%;
}

.App {
	min-height: 100%;
	width: 100%;
	position: relative;/**/
	background-image: url(Objective_Revision_Evaluation_Service_logo.svg.png);
	//background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
}

.Header {
	flex: 1;
}

.Content{
	flex: 2;
	background-color: #dcdcdc;
	margin: 40px 80px;
	/*min-height: 800px;*/
	padding: 30px;
	border-radius: 7px;
	box-shadow: 2px 2px 2px 2px #8f8f8f;
}

.Footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	flex: 3;
	background-color: white;
	padding: 20px;
}

.FooterLinks{
	margin: 40px;
}