#DistributionDiv{
	width: 600px;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: auto;
}

#trueNegatives{
}

#falseNegatives{

}

#falsePositives{

}

#truePositives{

}

.bubbleContainer {
	max-height: 500px;
	width: 100px;
	display: flex;
	flex-wrap: wrap-reverse;
	align-content: end;
	box-sizing: content-box;
	margin: 20px;
}

/***********************************************/
/***********************************************/
/***********************************************/

/*
#cccccc
#686868
#92a5ce
#003399
*/


.bubbleLabeling{
	padding-top: 10px;
	width: 100%;
	height: 100px;
	order: -1;
}

.bubbleP{
	margin: 0;
	text-align: left;
	font-family: Helvetica;
	font-weight: bolder;
}

.bubble{
	border: 1px solid black;
	width: 20px;
	height: 20px;
	margin: 0;
	border-radius: 50%;
	/*flex-basis: 20%;*/
}

.pentagon {
	position: relative;
	width: 11px;
	box-sizing: content-box;
	border-width: 10.1px 3.5px 0;
	border-style: solid;
	margin-top: 6.6px;
}

.pentagon:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: -16.9px;
	left: -3.6px;
	border-width: 0 9px 7px;
	border-style: solid;
}

.tp{
	border-color: #66c2a5 transparent;
}

.tp:before{
	border-color: transparent transparent #66c2a5;
}

.fn{
	border-color: #fc8d62 transparent;
}

.fn:before{
	border-color: transparent transparent #fc8d62;
}

/*.pentagon{
	border: 1px solid black;
	border-radius: 100% 100% 0 0;
	width: 20px;
	height: 20px;
	margin: 0;
}

.tp{
	background-color: #66c2a5;
}

.fn{
	background-color: #fc8d62;
}*/

.tn{
	background-color: #66c2a5;
}

.fp{
	background-color: #fc8d62;
}

