#DistributionDiv{
	width: 600px;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	margin: auto 0;
	padding-left: 30px;
}


.bubbleContainer {
	max-height: 500px;
	width: 100px;
	display: flex;
	flex-wrap: wrap-reverse;
	align-content: end;
	box-sizing: content-box;
	margin: 20px;
}

.bubbleLabeling{
	padding-top: 10px;
	width: 100%;
	height: 100px;
	order: -1;
}

.bubbleP{
	margin: 0;
	text-align: left;
	font-family: Helvetica;
	font-weight: bolder;
}

.bubble{
	border: 1px solid black;
	width: 10px;
	height: 10px;
	margin: 0;
	border-radius: 50%;
	/*flex-basis: 20%;*/
}

.triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11.5px solid #505050;
}

.innerTriangle {
    position: relative;
    left: -4px;
    top: 1.5px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.tp{
	border-bottom: 9.5px solid #0083ca;
}


.fn{
	border-bottom: 9.5px solid #d82d48;
}

.tn{
	background-color: #0083ca;
}

.fp{
	background-color: #d82d48;
}

