#visualisationRadar{
	margin: auto;
	width: 350px;
	height: 350px;
}

#visualisationRadar > svg > g > g > g > text{
	font-family: Helvetica, Arial;
	font-size: 15px;
}

#visualisationRadar > svg > g > g > g > path{
	fill-opacity: 0;
	stroke: grey;
	stroke-opacity: 0.5;
	stroke-width: 5px;
}