div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}


#RadarChart{
	height: 100%;
	width: 100%;
}

#BottomFlexPart{
	display: flex;
	width: 100%;
}

#Visualisation{
	height: 800px;
	min-width: 500px;
	width: 70%;
	margin-bottom: 100px;
	background-color: white;
	border: 3px solid #990000;
	border-radius: 15px;
}

#RadarInformation{
	height: 800px;
	width: 30%;
	display: flex;
	align-items: center;
	padding-left: 10px;
	color: white;
}
