div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}


#RadarChart{
	height: 100%;
	width: 800px;
}

#BottomFlexPart{
	display: flex;
}

#Visualisation{
	height: 800px;
	min-width: 800px;
	margin-bottom: 100px;
	background-color: white;
	border: 3px solid #990000;
	border-radius: 15px;
}

#RadarInformation{
	margin-top: 100px;
}
