div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}

#RadarChart{
	height: 100%;
	width: 800px;
	display: block;
	margin: auto;
}

#Visualisation{
	text-align: center;
	height: 800px;
	width: 800px;
	margin-bottom: 100px;
}

