#thresholdBarDiv{
	height: 100%;
	width: 300px;
	margin: auto;
	background-color: orange;
}

#thresholdBar{
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 10%;
}

#thresholdDiv{
	margin-left: -10px;
}

#thresholdP{
	margin-top: 20px;
}

#VisualisationResult{
	width: 48%;
	height: 96%;
	margin: auto;
	background-color: white;
	border: 3px solid #9bcdb4;
	border-radius: 15px;

}