#thresholdBar{
	height: 400px;
	margin: auto;
	width: 100%;
	
}

#sliderContainer{
	display: flex;
	height: 100%;
	font-family: Helvetica;
}	
	
#thresholdTitle{
	margin-bottom: 20px;
}
	
.rangeslider{
	margin: auto 0 !important;
	box-sizing: content-box !important;
	width: 20px !important;
	max-width: 20px !important;
	height: 300px !important;
	background-image: url('images/redToGrey.png') !important;
	background-repeat: no-repeat;
	opacity: 1 !important;
	border: 2px solid #6d6d6d !important;
	border-radius: 0 !important;
}

.rangeslider__fill{
	/*width: 20px !important;*/
	box-sizing: content-box !important;
	background-image: linear-gradient(to top, #0083ca, #dfdfdf) !important;
	/*border: 2px solid #4c524f !important;
	border-radius: 0 !important;
	border-left: none !important;
	border-top: none !important;*/
}

.rangeslider__handle{
	bottom: -5px !important;
	left: -20px !important;
	height: 3px !important;
	width: 55px !important;
	border: none !important;
	background-color: black !important;
}

.rangeslider__handle::after{
	/*width: 0 !important;
	height: 0 !important;*/
}

#goodToDamagingLabel{
	text-align: left;
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: pink;
}

#zeroToOneLabel{
	height: 320px;
	margin: auto 0;
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}