div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}


#Visualisations{
	height: 100%;
	width: 100%;
}

#AutomaticValueChange{
	margin: auto;
	margin-top: 30px;
}

#BottomFlexContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#RadarInformation{
	margin: auto;
	background-color: red;
}

#PleaseInsert{
	margin: auto;
	padding: 10px;
	font-size: 17px;
}
