div.ui.action.input{
	width: 50%;
	min-width: 500px;
}

div.ui.compact.selection.dropdown{
	width: 100px;
}

div.ui.active.visible.compact.selection.dropdown{
	width: 100px;
}


#Visualisations{
	height: 100%;
	width: 100%;
}

#AutomaticValueChange{
	margin: auto;
	margin-top: 30px;
}

#BottomFlexContainer{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.title{
	width: 100%;
	text-align: left;
	font-family: Helvetica;
	font-weight: 400;
	padding-top: 30px;
	padding-left: 50px;
}

#mainTitle{
	padding-left: 15px !important;
	padding-top: 0 !important;
	margin-bottom: 30px;
}

#paramsAndThreshold{
	display: flex;
	width: 100%;
	height: 60%;
	background-color: #fcfcfc;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
}

#parameters{
	height: 100%;
	width: 60%;
}

#threshold{
	width: 40%;
}

#preview{
	width: 100%;
	height: 35%;
	background-color: #fcfcfc;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
}


#RadarInformation{
	margin: auto;
	margin-top: 50px;
}

#PleaseInsert{
	margin: auto;
	padding: 10px;
	font-size: 17px;
}
